extends layout 

block content
  .container
    h1 About me
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in justo nec elit laoreet venenatis auctor rhoncus elit. Proin aliquam odio non ligula malesuada, sed maximus felis fringilla. Fusce consectetur sit amet orci in tristique. Maecenas elementum arcu id dui rutrum lobortis. Vivamus leo tellus, aliquam ut condimentum iaculis, maximus vitae nibh. Mauris luctus lectus vel mollis aliquet. Sed imperdiet ultrices nisi id rutrum. Integer finibus libero eget lorem bibendum, sed suscipit purus mattis. Aliquam vel imperdiet dolor, et interdum risus.

Maecenas commodo orci in quam suscipit, vel consectetur justo mollis. Donec sed enim porttitor, posuere purus sit amet, elementum nulla. Nunc dignissim tortor vel ligula ultrices, id condimentum justo scelerisque. Fusce non metus rutrum, condimentum massa vitae, placerat augue. Nunc tempus vel nisi eget pulvinar. In quis nisl vehicula, sollicitudin diam at, facilisis felis. Proin dolor ex, ullamcorper eget sem et, hendrerit fringilla tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer sit amet vestibulum orci.
    a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    ul
      li Option 1
      li optiion 2
      li option 3